$theme-color: #00589c;

@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index';
@import '~\@fortawesome/fontawesome-svg-core/styles';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700&subset=latin-ext');

:root {
  --theme-color: $theme-color;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  font-family: 'Roboto', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
